/*Jory Eugene Pestorious*/
body {
  background-color: #f4a1ad;
  font-family: 'Comfortaa', serif;
  font-size: 15px;
}

.container-fluid {
  padding: 0 5vw 2vw 5vw;
}

.navbar {
  background-color: #ffffff;
  border: none;
}

.navbar-header a.navbar-brand {
  color: #e78e9b;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1rem;
  padding-right: 0px;
}

#collapsed-navbar a {
  color: #e78e9b;
  font-size: 2rem;
}

#collapsed-navbar a:hover {
  background-color: #e6eafb;
  color: #ffffff;
  font-weight: bold;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  background-color: #ffffff;
  border: 1px solid #f4c0c8;
}

.navbar-header button.navbar-toggle:hover, .navbar-header button.navbar-toggle:hover .icon-bar {
  background-color: #f4c0c8;
  border: 1px solid #ffffff;
}

.navbar-header button.navbar-toggle:active, .navbar-header button.navbar-toggle:active .icon-bar {
  background-color: #ffffff;
  border: 1px solid #f4c0c8;
  position: relative;
  top: 1px;
}

.navbar-header button.navbar-toggle:focus, .navbar-header button.navbar-toggle:focus .icon-bar{
  background-color: #ffffff;
  border: 1px solid #f4c0c8;
}

.navbar {
  border-radius: 0 0 5px 5px;
}

h1 {
  padding-top: 2rem;
}

h1, h3 {
  color: #ffffff;
  letter-spacing: 0.1rem;
}

.col-xs-12 p {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 5px;
  color: #e78e9b;
}

.col-xs-12 p a {
  margin: 1rem 1rem 0 0;
}
